# Server
ENVIRONMENT=development
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

# Database 
DATABASE_URL=sqlite:///./history.db

# JWT
SECRET_KEY=your key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=5

# Admin
ADMIN_PASSWORD=your pass

# RAG
RAG_JSONL_PATH=./data/rag.jsonl

# Ngrok 
NGROK_AUTH_TOKEN=your token

FRONTEND_URL=your url